@charset "utf-8";

html{
    font-size: 62.5%;
}

body{
    color: #333333;
    font-family:"Open Sans",'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif;
    font-size: 1.6m;
}

img{
    max-width: 100%;
    height: auto;
}

.text-center{
    text-align: center;
}

.site-title{
    font-size: 2.4rem;
    font-weight:bold;
    color: #f4f4f4
}

/* hero-image */

.hero-image{
    position: relative;
}

.hero-image__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    font-size: 7.2rem;
    font-weight: bold;
    color: #fff;
}
/* header */

.header{
    background-color: #78d0fd;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.nav-list{
    display: flex;
}

.nav-item{
    margin: 0 0 0 48px;
}

.nav-item>a{
    color: #fff;
}

/* about */

.profile{
    padding:80px;
}

.profile-wrapper{
    width: 560px;
    margin: auto;
}

.profile__title{
    margin: 0 0 40px;
    font-size: 2.4rem;
    font-weight: bold;
}

.profile__eyecatch{
    margin: 0 0 24px;
}

.profile__name{
    margin: 0 0 40px;
    font-size: 2.4rem;
}

.profile__text{
    line-height: 2;
    text-align: justify;
}

/* work */

.wrapper{
    max-width: 1140px;
    margin: auto;
}

.works{
    padding: 80px 0;
    background-color: #f4f4f4;
}

.works__list{
    display: flex;
    margin: 0 0 64px;
}

.works__item{
    width: 33.333%;
}

.works__title{
    margin: 0 0 64px;
    font-size: 2.4rem;
    font-weight: bold;
}

.works__eyecatch{
    margin: 0 0 24px;
}

.works__content{
    padding: 0 16px;
}

.works__heading{
    margin: 0 0 16px;
    font-weight: bold;
    text-decoration: underline;
}

.btn{
    display: block;
    width: 214px;
    margin: auto;
    padding: 21px 0;
    background-color: #1ab1ff;
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
}

/* contact */

.contact__title{
    margin: 0 0 64px;
    font-size: 2.4rem;
    font-weight: bold;
}
.form-wrapper{
    width: 560px;
    margin: auto;
}

.form-inner{
    display: flex;
    flex-wrap: wrap;
}

.form-title{
    width: 172px;
}

.form-item{
    width:388px;
}

/* footer */
.footer{
    padding: 24px 0;
    background-color: #707070;
}

.copyrights{
    color: #fff;
}